.intro-container {
  background-image: url(../../assets/signup.png);
}
.text h1 {
  font-family: "Lexend", sans-serif;
}
.text p {
  font-family: "Poppins", sans-serif;
}

.info h1 {
  font-family: "Poppins", sans-serif;
}
.info p {
  font-family: "Poppins", sans-serif;
}

.user-info {
  font-family: "Poppins", sans-serif;
}
form p {
  font-family: "Avenir", sans-serif;
}
.info button {
  font-family: "Satoshi", sans-serif;
}
