.login-container {
  background-image: url(../../assets/signin.png);
}
.text h1 {
  font-family: "Lexend", sans-serif;
}
.text p {
  font-family: "Poppins", sans-serif;
}
.login-info {
  font-family: "Poppins", sans-serif;
}
